html{
    background-color: #E61F44;
    font-size: 35px;
    background: #eee url('public/images/bg.jpg') center center no-repeat fixed;
    background-size: cover;
    margin: 0 auto;
    down: 0;
    font-family: Shadows Into Light;
}

.navigation {
    text-align: center;
}   
    
.navigation:hover {
    color: 3300FF;
    
}

a:hover{
    color: 3300FF;
}
.nav:hover {
    color: 3300FF;
}
#contents {
    width: 70%;
}
a {
margin-left: 40px;
margin-right: 40px;
text-decoration: none;
}

.fullcontent {
    color: 3300FF;
}

}
.footer, .push {
height: 4em;
color: 3300FF;
text-align: left;
text-size: 25px;
}
