<link rel="stylesheet" href="../public/css/style.css">

<html>
  <head>
    <h1> New York City Dessert Shops </h1>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
       <!--coordinates of restaurants-->

      <!--dont touch this-->
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(40.7600, -73.9600),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)

        <!--image variables-->

        var doughnut = '../public/images/Doughnut.png'  
        var cafe = '../public/images/cafe.png'  
        var cake = '../public/images/cake.png'  
        var cupcake = '../public/images/cupcake.png'
        var icecream = '../public/images/icecream.png'   
        
        var dir = new Array();
        dir[0] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[1] = new Array("Baked by Melissa", cupcake, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[2] = new Array("Ferrara Bakery and Cafe", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[3] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[4] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[5] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[6] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[7] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[8] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[9] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[10] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[11] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        dir[12] = new Array("Doughnut Plant", cafe, new google.maps.LatLng(40.716349,-73.9886656)); 
        
        function marker(pos, ico, titl) {
			var marker = new google.maps.Marker({
				position: pos,
				map: map,
				icon: ico,
				title: titl
			})
			return marker;
		}
		var markers = [];
		for (i = 0; i < dir.length; i++) {
			markers.push(marker(dir[i][2], dir[i][1], dir[i][0]));
		}
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
